*.suo
*.wixpdb
*.msi
*.user
*.sdf
*.opensdf
*.nupkg
output
intermediate
obj
bin
_Resharper*
*.ReSharper
ipch
*.InstallLog
packages
*.patch
*.snk
*.suo
DiscUtilsWorking.sln
src/DiscUtils.dll.xml
unittests/results.xml
layout
Help/Output
scratch
*StyleCop.Cache
DiscUtilsScratch.sln
*/bin/
*.pidb
*.resources
*.userprefs
unittests/quicktest.ps1
.hg*
